services:
    php:
        build:
            target: dev
        command: ["rr", "serve", "-c", ".rr.dev.yaml"]
        ports:
            - "8080:8080"
        volumes:
            - .:/var/www

            - ./docker/php/conf.d/error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini
            - ./docker/php/conf.d/opcache.ini:/usr/local/etc/php/conf.d/opcache.ini
            - ./docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
        environment:
            APP_ENV: dev
        restart: "no"
